<h1>Listing posts</h1>


<% @posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= post.title %></div>
    <div class="panel-body">
      <p><%= post.body %></p>
    </div>  
  </div>  
<% end %>


